* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #040c18;
  color: #fff;
  font-family: "Manrope", sans-serif;
  height: 100%;
  padding: 100px 135px;
}

.logo {
  font-weight: 800;
}
.headerNav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1px;
}

.mainNav ul {
  list-style: none;
  display: flex;

  justify-content: space-around;
  align-content: space-around;
}

.mainNav ul li {
  padding: 0 20px;
  font-weight: 300;
  align-content: center;
}
